<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Facebook</title>
        <link rel='stylesheet' href='style.css'/>
        <link rel="icon" href="facebook.png"/>
        
        <!-- Fonts -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    </head>
    
    <body>
        
        <!-- Header Start -->
        <header>
            
            <!-- Search Start -->
            <div class="header-div">
                <i class="fa fa-facebook-official fa-6"></i>
                
                <input type="text" placeholder="Search">
                <input type="button">
                <i class="fa fa-search fa-6" id="search"></i>
            </div>
            <!-- Search End -->
            
            <!-- Profile Start -->
            <div class="profile-div">
                <div title="Profile">
                    <img src="profile.jpg">
                    <a>Ahmed</a>
                </div>
                
                <span class="line"></span>
                
                <a>Home</a>
                
                <div class="friend-div">
                    <div class="friend"></div>
                    <div class="message"></div>
                    <div class="notification"></div>
                    <span class="line2"></span>
                </div>
                
            </div>
            
            <div class="info-div">
                    <div class="info"></div>
                </div>
            <!-- Profile End -->
            
        </header>
        <!-- Header End -->
        
        <div class="content">
            <!-- Left Side Start -->
                <div class="left-side">
                    
                    <div>
                        <img src="profile.jpg">
                        <a>Ahmed Adel</a>
                    </div>
                    
                    <div>
                        <img src="feedback.png">
                        <a>News Feed</a>
                    </div>
                    
                    <div>
                        <img src="messenger.png">
                        <a>Messenger</a>
                    </div>
                    
                    <a class="shoutcuts">SHORTCUTS</a>
                    
                    <div>
                        <img src="http://d33wubrfki0l68.cloudfront.net/aa39339d387bc014709bcf92141a4d401330a173/d361a/group.png">
                        <a>El-Zero Web School</a>
                    </div>
                    
                    <div>
                        <img src="http://d33wubrfki0l68.cloudfront.net/aa39339d387bc014709bcf92141a4d401330a173/d361a/group.png">
                        <a>Ultras FCI Web</a>
                    </div>
                    
                    <a class="explore">EXPLORE</a>
                    
                    <div>
                        <img src="http://d33wubrfki0l68.cloudfront.net/608b161d11c2619876848797e83150cf82ebdcc8/218e3/bookmark2.png">
                        <a>Saved</a>
                    </div>
                    
                    <div>
                        <img src="http://d33wubrfki0l68.cloudfront.net/aa39339d387bc014709bcf92141a4d401330a173/d361a/group.png">
                        <a>Groups</a>
                    </div>
                    
                    <div>
                        <img src="http://d33wubrfki0l68.cloudfront.net/67a3c742f46a371d07920911636f7a76cc254a86/882ea/calender.png">
                        <a>Events</a>
                    </div>
                    
                    <div>
                        <img src="http://d33wubrfki0l68.cloudfront.net/939cd0116cddf1630d42f257a5340d4aa785107d/07b46/page.png">
                        <a>Pages</a>
                    </div>
                    
                    <div>
                        <img src="http://d33wubrfki0l68.cloudfront.net/fe6d948785913b73422b3f761253289ba574cd4e/69cd5/facebooklive.png">
                        <a>Live Video</a>
                    </div>
                </div>
            <!-- Left Side End -->


            <!-- Middle Side Start -->
                <div class="posts">
                    
                    
                    <div class="post">
                        <textarea placeholder="What's on your mind ?"></textarea>
                        <img src="profile.jpg">
                        
                        <div class="post-btn"> 
                            <i class="fa fa-picture-o fa-6"></i> 
                            <a>Photo/Video</a>
                        </div>
                    </div>
                    
                    <div class="miidle-side">
                        
                        <div class="elzero-post">
                            <img src="profile.jpg">
                            <a>Ahmed Adel</a>
                            <a>Just Now</a>
                            <div class="notification2"></div>
                            <i class="fa fa-angle-down fa-6"></i>
                            
                            <p>Thanks To Mr.Osama Mohamed</p>
                            <img src="1.jpg">
                        </div>
                        
                    </div>
                </div>
            <!-- Middle Side End -->


            <!-- Right Side Start -->
                <div class="right-side">
                    <a class="suggested">Suggested Groups</a>
                    <div>
                        <img src="ITI.jpg">
                        <p>ITI Family</p>
                        <a>10 friends</a>
                        <a>93K members</a>
                        <input type="button" value="+ Join">
                    </div>
                    
                    <div>
                        <img src="Study.jpg">
                        <p>Ultras ITI Study</p>
                        <a>5 friends</a>
                        <a>19K members</a>
                        <input type="button" value="+ Join">
                    </div>
                </div>
            <!-- Right Side End -->
        </div>
    </body>
</html>